

<div id="adminHeader">
    <h1>Total money earned by website:</h1>
    <p>${{{totalMoneyEarned}}}</p>
</br>

<form method="post" action="/admin">


<button name="sort" id="sortAsc" value="asc" type="submit">Sort by A-Z order
</button>


<button name="sort" id="sortDesc" value="desc" type="submit">Sort by Z-A order</button>

</form>

</div>


<div class="adminForm">

{{#each purchasesList}}

{{> partialPurchasesList this}}

{{/each}}


</div>





