<h2>CUSTOMER DETAILS</h2>
<input type="text" placeholder="Enter your name" />
<br />
<input type="email" placeholder="Enter your email" />
<br />
<button>VERIFIED MEMBER</button>
<h2>YOUR CLASSES</h2>
<p></p>
<button>REMOVE</button>
<h2>YOUR CLASSES</h2>
<p></p>
<button>REMOVE</button>
<hr />
<p>Subtotal:</p>
<p>Tax:</p>
<hr />
<p>Total:</p>