<h1>CHECKOUT</h1>
<form id="cartPage" method="post" action="/checkout">
  <h3>CUSTOMER DETAILS</h3>
  <input type="text" placeholder="Enter your name" />
  <br />
  <input type="email" placeholder="Enter your email" />
  <br />
  <p id="member">
    <span id="star">&starf;</span>
    VERIFIED MEMBER</p>
  <h3>YOUR CLASSES</h3>
  <p>CYCLING - BEGINNER WITH ALEX</p>
  <p>30 MIN</p>
  <button id="btn-remove">REMOVE</button>
  <hr />
  <p class="total">Subtotal: 1000</p>
  <p class="total">Tax: 1000</p>
  <hr />
  <p class="total">Total: 1000</p>
  <button id="btn-pay">PAY</button>
</form>