<style>
    .message{
        color: white;

    }

    .title{
        color: white;

    }
</style>

<h2 class="title">ERROR</h2>
<p class="message">
    {{{message}}}
</p>
<a  href="{{{link}}}">{{{linkName}}}</a>