body {
  font-family: "Readex Pro", sans-serif;

  background-color: black;
}
h1 {
  text-align: center;
  color: white;
}
header {
  background-color: black;
  height: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 1px solid royalblue;
}
header a {
  margin: 15px 0px 0px 10px;
  color: white;
}
ul {
  justify-content: right;
  list-style: none;
  height: 50px;
  display: flex;
  /* padding-left: 0px; */
  align-items: center;
  margin-top: 0px;
  /* background-color: magenta; */
}

li a {
  padding-left: 30px;
  padding-right: 20px;
  color: white;
}
a:hover {
  color: royalblue;
}
button {
  cursor: pointer;
}

/* ----------------------------------- HOME PAGE */
#homePage {
  padding-top: 15%;
  height: 95vh;
  width: 100%;
  text-align: center;
  color: white;
  background-image: url(homeimage2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  text-decoration: none;
}
#homePage h1 {
  font-weight: bold;
  font-size: 50px;
  padding: 0;
  margin: 0px;
  text-shadow: 3px 3px silver;
}
#homePage p {
  margin-bottom: 30px;
  font-size: 20;
}
#btn-homePage {
  border-radius: 25px;
  color: white;
  background-color: crimson;
  border: 1px solid crimson;
  padding: 10px 20px 10px 20px;
}
#btn-homePage:hover {
  background-color: rgb(175, 14, 47);
  border: 1px solid rgb(175, 14, 47);
}
/* ----------------------------------- CLASSES PAGE */
img {
  width: 170px;
  height: 150px;
}
#classesForm {
  display: flex;
  flex-direction: row;
  border: 2px solid silver;
  padding-left: 5px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 10px;
}
#classDescrp {
  padding-left: 20px;
  color: royalblue;
}
#btn-book {
  width: 100px;
  border-radius: 5px;
  color: white;
  background-color: coral;
  border: 1px solid coral;
  padding: 10px;
}
#btn-book:hover {
  background-color: rgb(214, 85, 62);
  border: 1px solid rgb(214, 85, 62);
}
#btn-booked {
  width: 100px;
  pointer-events: none;
  border-radius: 5px;
  color: white;
  background-color: rgb(214, 85, 62);
  border: 1px solid rgb(214, 85, 62);
  padding: 10px;
}
span {
  color: black;
  font-size: 15;
}
#classesForm img {
  padding: 10px;
}
#classHeader {
  text-align: center;
  color: white;
}
/* ----------------------------------- LOGIN PAGE */
#loginPage {
  width: 300px;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
  background-color: white;
  border: 2px solid silver;
}
#loginPage input {
  border: 2px solid silver;
  padding: 5px;
  margin: 0px 0px 10px 0px;
  width: 300px;
}
#loginPage button {
  cursor: pointer;
  /* border-radius: 5px; */
  color: white;
  width: 147.7px;
  margin-bottom: 5px;
  padding: 10px 0px 10px 0px;
}
#btn-login {
  background-color: royalblue;
  border: 1px solid royalblue;
}
#btn-login:hover {
  background-color: rgb(53, 86, 184);
  border: 1px solid rgb(53, 86, 184);
}
#btn-create {
  background-color: crimson;
  border: 1px solid crimson;
}
#btn-create:hover {
  background-color: rgb(175, 14, 47);
  border: 1px solid rgb(175, 14, 47);
}
h3 {
  font-size: 12;
  color: royalblue;
}

#createPage {
  width: 300px;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
  background-color: white;
  border: 2px solid silver;
}
label {
  font-size: 12;
  font-weight: lighter;
}
.btn-yesno {
  cursor: pointer;
  /* border-radius: 5px; */
  color: white;
  width: 147.7px;
  margin-top: 10px;
  padding: 10px 0px 10px 0px;
  background-color: royalblue;
  border: 1px solid royalblue;
  margin-bottom: 5px;
}
.btn-yesno:hover {
  background-color: rgb(53, 86, 184);
  border: 1px solid rgb(53, 86, 184);
}
/* ----------------------------------- CART PAGE */
#cartPage form {
  width: 500px;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: white;
  border: 2px solid silver;
}
#cartPage input {
  border: 2px solid silver;
  padding: 5px;
  margin: 0px 0px 10px 0px;
  width: 500px;
}

#btn-pay {
  cursor: pointer;
  /* border-radius: 5px; */
  color: white;
  width: 500px;
  margin-top: 10px;
  padding: 10px 0px 10px 0px;
  background-color: coral;
  border: 1px solid coral;
  font-weight: bolder;
  margin-bottom: 5px;
}
#btn-pay:hover {
  background-color: rgb(214, 85, 62);
  border: 1px solid rgb(214, 85, 62);
}

#member {
  background-color: silver;
  border: 1px solid silver;
  /* padding: 10px; */
  padding: 8px 0px 8px 5px;
  width: 150px;
  font-size: 12;
  font-weight: bold;
  margin-top: 5px;
}
#btn-remove {
  color: royalblue;
  width: 150px;
  height: 55px;
  padding: 10px 0px 10px 0px;
  background-color: rgb(236, 236, 236);
  border: 1px solid rgb(236, 236, 236);
  font-weight: bold;
  /* align-content: right; */
}
#btn-remove:hover {
  color: tomato;
}
.total {
  text-align: right;
}
hr {
  color: silver;
}
#star {
  color: gold;
}
#cartItems {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#itemRemove {
  text-align: right;
  margin-top: auto;
  margin-bottom: auto;
}
.itemsTitle {
  font-size: 15;
  width: 350px;
  margin-top: 5px;
  margin-bottom: 5px;
}
#yourClasses {
  padding-top: 30px;
}
/* ----------------------------------- ERROR PAGE */
#errorPage {
  width: 300px;
  padding: 20px 20px 40px 20px;
  margin: auto;
  margin-top: 100px;
  background-color: white;
  border: 2px solid silver;
}

#errorPage a {
  cursor: pointer;
  color: white;
  width: 147.7px;
  margin-bottom: 5px;
  padding: 10px 10px 10px 10px;
  border: 1px solid crimson;
  background-color: crimson;
}
#title {
  color: royalblue;
  margin-bottom: 0px;
}
#message {
  margin-bottom: 50px;
}
